nav.navbar
  a.navbar-brand(href="/") IIS Übung
  .container-fluid
    ul.nav.navbar-nav
      li.nav-item
        a.nav-link(href="/production") Fertigungsdaten

    ul.nav.navbar-nav(style='float:right;')
      if user && user.admin
        li.nav-item
          a.nav-link(href='/org') Org
      li.nav-item
        if user
          a.nav-link(href='/users/logout') Logout
        else
          a.nav-link(href='/users/login') Login
