extends layout

block content
  .container-fluid(style='margin-top:1em;')
    .row
      .col-md-3.col-md-offset-3
        form(action='/projects/migrationup', method='POST')
          input.btn.btn-secondary(type='submit', value='Tabellen erstellen')
      .col-md-3
        form(action='/projects/migrationdown', method='POST')
          input.btn.btn-secondary(type='submit', value='Tabellen entfernen')
      .col-md-3
        form(action='/projects/createProjects', method='POST')
          input.btn.btn-secondary(type='submit', value='Projekte einfügen')

    .row
      .col-md-12
        h2 Konten erstellen
    .row(style='padding-top:1em;')
      .col-md-6
        h4 Allgemeines Konto
        form(action='/projects/account', method='POST')
          fieldset.form-group
            label Kontobezeichnung
            input.form-control(type='text', name='account')
          input.form-control.btn.btn-primary(type='submit', value='Hinzufügen')                  
      .col-md-6
        h4 Projektkonto
        form(action='/projects/project_account', method='POST')
          fieldset.form-group
            label Kontobezeichnung
            input.form-control(type='text', name='account')
          fieldset.form-group
            label Projekt
            select.form-control(name='project')
              each project in projects
                option(value=project.name)= project.name
          input.form-control.btn.btn-primary(type='submit', value='Hinzufügen') 

    .row
      .col-md-12
        h2 Buchen

    .row(style='padding-top:1em;')
      .col-md-12
        h4  Kosten
        if (accounts_error)
          pre in accounts.sql
          pre= accounts_error
        else if (project_accounts_error)
          pre in projects_accounts.sql:
          pre= project_accounts_error
        else
          form(action='/projects/add_project_record', method='POST')
            .container-fluid
              .row
                .col-md-3
                  label Allgemeines Konto
                  select.form-control(name='account')
                    each account in accounts
                      option(value=account.account)= account.accountName
                .col-md-3
                  label Buchungstag (YYYY-MM-DD)
                  input.form-control(type='text', name='date')
                .col-md-3
                  label Text
                  input.form-control(type='test', name='text')
                .col-md-3
                  label Zu verbuchende Kosten
                  input.form-control#sum(type='test', name='costs', disabled='disabled')
              .row
                .col-md-12
                  h6 Aufgeteilt auf:
              .row
                .col-md-5.offset-md-2
                  .form-group.row
                    .col-xs-4.col-form-label 
                      label.pull-xs-right Projektkonto 1
                    .col-xs-8
                      select.form-control#p1(name='p1')
                        each project in project_accounts
                          option(value=project.accountName)= project.accountName
                .col-md-5
                  .form-group.row
                    .col-xs-4.col-form-label 
                      label.pull-xs-right Anteil
                    .col-xs-8
                      input.form-control(type='test', name='p1_costs')

              .row
                .col-md-5.offset-md-2
                  .form-group.row
                    .col-xs-4.col-form-label 
                      label.pull-xs-right Projektkonto 2
                    .col-xs-8
                      select.form-control#p2(name='p2')
                        option(value='kein Konto') kein Buchung
                        each project in project_accounts
                          option(value=project.accountName)= project.accountName
                .col-md-5
                  .form-group.row
                    .col-xs-4.col-form-label 
                      label.pull-xs-right Anteil
                    .col-xs-8
                      input.form-control(type='test', name='p2_costs')

              .row
                .col-md-5.offset-md-2
                  .form-group.row
                    .col-xs-4.col-form-label 
                      label.pull-xs-right Projektkonto 3
                    .col-xs-8
                      select.form-control#p3(name='p3')
                        option(value='kein Konto') keine Buchung
                        each project in project_accounts
                          option(value=project.accountName)= project.accountName
                .col-md-5
                  .form-group.row
                    .col-xs-4.col-form-label 
                      label.pull-xs-right Anteil
                    .col-xs-8
                      input.form-control(type='test', name='p3_costs')
              .row
                .col-md-2.offset-md-10
                  input.form-control.btn.btn-primary(type='submit', value='Buchen')
            script.
              var inputs = ['p1', 'p2', 'p3']
              function calcSum () {
                var projectEntrise = ['p1', 'p2', 'p3']
                  .filter(function (p) {
                    return ($('#'+ p).val() !== 'kein Konto')
                  })
                console.log(projectEntrise)

                var objectsToInsert = projectEntrise.map(function (p) {
                  return parseFloat($('input[name="' + p + '_costs"]').val())
                })
                console.log(objectsToInsert)
                // for actual accounting software you'd might use special
                // libaries for financial calculations
                var totalcosts = objectsToInsert.reduce(function (left, right) {
                  return left + right
                }, 0)
                console.log(totalcosts)
                $('#sum').val(totalcosts)
              }
              inputs.forEach(function (p) {
                $('input[name="' + p + '_costs"]').on('keyup', calcSum)
              })

    .row
      .col-md-12
        h2 Abfragen

    .row(style='padding-top:1em;')
      .col-md-6
        h4 Alle Buchungssätze
        if (records_error)
          pre= records_error
        else
          table.table.table-bordered.table-hover
            tr
              th Nummer
              th Text
              th Datum
              th Aktion
            each record in records
              tr
                td= record.record
                td= record.text
                td= record.date
                td
                  a.btn.btn-secondary(href='/projects?selected_record=' + record.record) Details


      .col-md-6
        h4 Buchungszeilen zum Buchungssatz # #{selected_record}
        if (entry_lines_error)
          pre= entry_lines_error
        else
          table.table.table-bordered.table-hover
            tr
              th Nummer
              th Konto
              th Betrag
            each el in entry_lines
              tr
                td= el.number
                td= el.accountName
                td= el.amount

    .row
      .col-md-6
        h4 Projekte
        if (projects_budget_error)
          pre= projects_budget_error
        else
          table.table.table-bordered.table-hover
            tr
              th Projekt
              th GesamtBudget
              th Ausgegeben
              th Restbudget
            each project in projects_budget
              tr
                td= project.projectName
                td= project.budget
                td= project.spent
                td= project.remaining

    .row
      .col-md-12
        h2 Projektbericht
        div#projectreport
          | Dieser Teil der Anwendung wird gerade geladen.

  script(src='/formschema/static/js/main.js')